---
import Layout from '../layouts/Layout.astro';

//Components
import Banner from '../sections/Banner/Banner.astro'
import Proyects from '../sections/Proyects/Proyects.astro'
import Aboutme from '../sections/Aboutme/Aboutme.astro'
---

<Layout>
  <main class="flex-col space-y-5 py-10 lg:py-20 mx-10 sm:mx-20 lg:mx-30 xl:mx-50">
    <Banner/>
    <Proyects/>
    <Aboutme />
  </main>
</Layout>
