---
import img from '../../assets/rocket.gif'
---
<div 
  class="col-span-2 bg-gradient-to-r from-blue-800 via-blue-600 to-blue-400 
  rounded-xl py-5 sm:py-20 px-10 grid grid-cols-1 sm:grid-cols-3">
  <div class="col-span-2 flex justify-center items-center">
    <div>
      <h1
        class="text-white font-bold text-3xl sm:text-4xl"
      >
        Hi!, my name is Mauricio 👋
      </h1>
      <p
      class="text-white text-xl sm:text-2xl">
        I'am <span class="text-amber-500">Student System Engineering</span>
      </p>
    </div>
  </div>
  <div
    class="flex justify-center items-center">
    <img 
      class="w-30 mt-5 sm:w-50 sm:mt-0"
      src={img.src} 
      alt="Rocket">
    </div> 
  </div>
