---
import TitleSection from "../../components/TitleSection.astro"
---

<div class="">
  <TitleSection text="👤 About me"/>
  <p
  class="text-white p-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cum exercitationem recusandae voluptatibus commodi doloribus voluptas temporibus, placeat error dolor. Odit odio exercitationem porro. Magni soluta possimus voluptatibus maiores nemo?</p>
</div>
